body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.9);
}


h1 {
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
    background: rgb(114, 111, 245);
    padding: 10px;
    position: fixed; /* Épingler la barre */
    top: 0;          /* Coller en haut */
    left: 0;         /* Aligner à gauche */
    width: 100%;     /* Prendre toute la largeur */
    z-index: 1000;   /* S'assurer qu'elle est au-dessus des autres éléments */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère */

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    overflow-x: auto;
}

nav li {
    margin: 0 1px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px; 
    background-color: blanchedalmond;
} 

nav a {
    text-decoration: none; 
    color: black; 
    font-weight: 700;
} 

nav a:hover {
    color: rgb(114, 111, 245);
}

.content {
    justify-content: center;
    align-items: center; 
    text-align: center; 
} 

main {
    font-weight: 700;
    justify-content: center;
    align-items: center; 
    text-align: center;
} 

/* Version mobile (écrans < 768px) */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* Taille de texte réduite */
  }

  .container {
    width: 100%; /* Pleine largeur */
    padding: 0 15px; /* Marge intérieure */
  }

  /* Masquer un élément sur mobile */
  .desktop-only {
    display: none;
  }

  /* Afficher un menu hamburger */
  .mobile-menu {
    display: block;
  }
}





